body {
  background-color: #7e5b5b;
  background-image: url('https://i.imgur.com/XBT8M0N.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  font-family: 'Quicksand', sans-serif;
  text-align: center;
  text-shadow: 2px 2px 2px black;
}

.leCheese {
  font-size: 50px;
}

.navBar {
  font-size: 22px;
}

h1 {
  font-family: 'Girassol', cursive;
  color: #ffff9e;
  font-size: 35px;
}

ul {
  list-style: none;
  padding-left: 0;
}

label {
  font-size: 25px;
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

input {
  margin-left: 10px;
}

textarea {
  margin-left: 10px;
}

article {
  font-size: 20px;
}
